<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExcelTut.Properties.Settings.IdentityUserConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=IdentityUser;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ExcelTut.Properties.Settings.ExcelApplicationConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ExcelApplication;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ExcelTut.Properties.Settings.ExcelConnectionString"
            connectionString="Data Source=DESKTOP-EHCH26F\SQLEXPRESS;Initial Catalog=Excel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>